body
    {
       background:url(lebr.jpg) no-repeat;
       background-size: cover;
    } 
 /* table row transition duration*/
tr {
        transition-duration: 0.8s;
     }
  
  /* table row transform animation style*/
 .anim:hover 
       {
           
             transform: scale(1.0) scaleZ(1.0) translateX(6px) translateY(2px) translateZ(4px);
             transform-origin: 0% 0%;
             perspective: 0;
             -webkit-transform: scale(1.0) scaleZ(1.0) translateX(6px) translateY(2px) translateZ(4px);
             -webkit-transform-origin: 0% 0%;
             -webkit-perspective: 0;
             -webkit-perspective-origin: 0% 0%;
             -moz-transform: scale(1.0) scaleZ(1.0) translateX(6px) translateY(2px) translateZ(4px);
             -moz-transform-origin: 0% 0%;
             -moz-perspective: 0;
             -moz-perspective-origin: 0% 0%;
             -o-transform: scale(1.0) scaleZ(1.0) translateX(6px) translateY(2px) translateZ(4px);
             -o-transform-origin: 0% 0%;
             -o-perspective: 0;
             -o-perspective-origin: 0% 0%;
             -ms-transform: scale(1.0) scaleZ(1.0) translateX(6px) translateY(2px) translateZ(4px);
             -ms-transform-origin: 0% 0%;
             -ms-perspective: 0;
             -ms-perspective-origin: 0% 0%;
             transform: scale(1.0) scaleZ(1.0) translateX(6px) translateY(2px) translateZ(4px);
             transform-origin: 0% 0%;
             perspective: 0;
             perspective-origin: 0% 0%;
            
      }
  
  /* Main result table header's background gradient */
 .header-bg 
      { 
             background: -moz-linear-gradient(37deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 63%, rgba(0,0,0,1) 72%, rgba(0,0,0,1) 100%); /* ff3.6+ */
             background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(63%, rgba(255,0,0,1)), color-stop(72%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
      }
       
  /* Buttons background gradient*/   
  .but {
          background: linear-gradient(to bottom, rgba(245,246,246,1) 24%,rgba(245,246,246,1) 24%,rgba(219,220,226,1) 42%,rgba(184,186,198,1) 52%,rgba(245,246,246,1) 99%);
       }
           
  /* Main result table's box-shadow property*/
  .bxshadow
            {
                -webkit-box-shadow: 11px 13px 72px 13px red;
                -moz-box-shadow: 11px 13px 72px 13px red;
                 box-shadow: 11px 13px 72px 13px red;
            }
  /* Boys GC and Girls GC table's box-shadow*/
  .bxshadow1 {
                -webkit-box-shadow: 11px 13px 72px 13px #60ff52;
                -moz-box-shadow: 11px 13px 72px 13px #60ff52;
                box-shadow: 11px 13px 72px 13px #60ff52;
             }
   /*table header background gradient (green)*/      
   #gc-bg 
             { 
                 background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 16%, rgba(96,255,82,1) 44%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 100%); /* ff3.6+ */
                 background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(16%, rgba(0,0,0,1)), color-stop(44%, rgba(96,255,82,1)), color-stop(70%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
             }
   /* flag wave animation for header background*/           
  .flagwave {


              background-image: 
                               -webkit-gradient(linear,0% 30%,50% top, color-stop(0%,rgba(204,99,40,0)),color-stop(40%,rgba(204,99,40,0)), color-stop(90%,rgba(204,99,40,.3)), color-stop(100%,rgba(204,99,40,0))),
                               -webkit-gradient(linear,50% 30%,100% top, color-stop(0%,rgba(204,99,40,0)), color-stop(25%,rgba(204,99,40,.3)),color-stop(50%,rgba(204,99,40,0)), color-stop(80%,rgba(204,99,40,.3)), color-stop(100%,rgba(204,99,40,0)));
    -webkit-animation-name: flagwave;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
           }

    @-webkit-keyframes flagwave 
        {
    
        0% {
            background-position: -400px 0px, -400px 0px, -400px 0px,-400px 0px;
           }
    
        100% {
            background-position: 800px 0px, 800px 0px, 800px 0px, 800px 0px;
              }
        } 
